<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1, user-scalable=no">
    <title><%= content_for?(:title) ? yield(:title) : "Linda Bowens" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Linda Bowens" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One|Droid+Serif|Roboto+Slab:400,100' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
       <%= yield %>
  </body>
</html>
